# =========================
# Python
# =========================
backend/venv/
backend/__pycache__/
backend/**/*.pyc
backend/.env

# Python cache
**/__pycache__/
*.py[cod]

# =========================
# Uploaded Files
# =========================
backend/uploads/

# =========================
# Node.js
# =========================
frontend/node_modules/

# =========================
# Logs
# =========================
*.log

# =========================
# Environment Files
# =========================
.env

# =========================
# IDE
# =========================
.vscode/
.idea/

# =========================
# Operating System
# =========================
Thumbs.db
.DS_Store